@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btnRemover {
    background-color: rgb(255, 80, 80);
    color: white;
    padding: 10px 20px;
    border: solid 1px rgb(190, 52, 52);
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.btnRemover:hover {
    background-color: rgb(190, 52, 52);
    transform: translateY(-5px);
}

#carrossel {
    display: flex;
    width: 600px;
}

.galeriaContainer {
    display: block;
    height: 600px;
    width: 500px;
}